.navigationBar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.nav-logo img {
    height: 40px;
    width: auto;
}

.navigationBar-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
}

.navigationBar-wrapper li {
    list-style: none;
}

.navigationBar-wrapper li a {
    display: inline-block;
    color: var(--text-dark);
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

.navigationBar-wrapper .active {
    font-weight: bold;
    font-size: 22px;
}

.userAction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAction-container p {
    margin-bottom: 4px;
}