:root {
  /*colors*/
  --text-dark: #2d2a2d;
  --text-grey: #706c6c;
  --text-white: #ffffff;

  --background-white: #ffffff;
  --background-light: #eceff2;
  --background-dark: #aea69f;

  --accent: #66574b;

  --button-default: #66574b;
  --button-hover: #aea69f;

  /*typography*/
  --typography-text-font-family: "Roboto", sans-serif;
  --typography-accent-font-family: 'Shadows Into Light', cursive;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
