:root {
  /*colors*/
  --text-dark: #2D2A2D;
  --text-grey: #706C6C;

  --background-white: #FFFFFF;
  --background-light:#ECEFF2;
  --background-dark: #AEA69F;

  --accent: #66574B;

/*typography*/
--typography-text-font-family: 'Roboto', sans-serif;

}

body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
}